.map-container {
    height: 515px;
    position: fixed;
    border-radius: 10px;
    top: 10%;
    left: 17%;
    right: 1%;
    margin: auto;
    bottom: 0;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.mapboxgl-popup {
    max-width: 400px;
    font-family: 'Architects Daughter', cursive;
}

/*
look at this link
https://gis.stackexchange.com/questions/279127/how-to-add-css-styling-in-mapbox-gl-popup
*/

.mapboxgl-popup-content {
    font-size: 15px;
    background-color: #fbfbfb;
    padding: 10px;
}
.desc{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}