.map-container {
    height: 515px;
    position: fixed;
    border-radius: 10px;
    top: 10%;
    left: 17%;
    right: 1%;
    margin: auto;
    bottom: 0;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.mapboxgl-popup {
    font-family: 'Architects Daughter', cursive;
}

/* fish-site popup formatting*/
.fish-site-popup .mapboxgl-popup-content {
    width: 450px;
    font-size: 18px;
    background-color: #fbfbfb;
    padding: 12px;
}
.fish-site-popup .mapboxgl-popup-content div{
    margin-top: 3px;
    font-size: 15px;
}
.fish-site-popup .mapboxgl-popup-content p{
    background-color: #e3e5ed;
    padding: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    border-radius: 5px;
}

/* noaa-station popup formatting */
.station-popup .mapboxgl-popup-content {
    width: 300px;
    font-size: 18px;
    background-color: #e3e5ed;
    padding: 12px;
}
.station-popup .mapboxgl-popup-content h6{
    background-color: #e3e5ed;
    padding: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    border-radius: 3px;
}