.messageFormat {
    font-family: 'Architects Daughter', cursive;
    color: black;
    background-color: #9ceb78;
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 7px;
    font: 15px;
    padding: 3px;
}

p.success{
    padding-left:15px;
    padding-top: 13px;
}