.messageFormat {
    font-family: 'Architects Daughter', cursive;
    color: black;
    background-color: #9ceb78;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 7px;
    font: 15px;
    padding: 10px;
}