body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* This isn't being used for some reason */
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}



/* my edits */
.navbar-brand {
    width: 100%;
}

#dadIcon {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-left: 20px;
}

#jeriIcon {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-left: 20px;
}

#sidebarMenu {
    padding-top: 100px;
}

a.list-group-item {
    font-family: 'Architects Daughter', cursive;
    background-color: #424d5c;
}

a.list-group-item:hover {
    background-color: #000000;
}

#top-title-computer {
    font-family: 'Reggae One', cursive;
    font-size: 40px;
    text-decoration: none;
    color: #000000;
    margin: 0px;
}

#top-title-phone {
    font-family: 'Reggae One', cursive;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
    margin: 0px;
}

.navbar-nav {
    align-items: flex-end;
    margin-top: auto;
    padding-bottom: 5px;
}

#nav-1 {
    width: 225px;
    padding-bottom: 5px;
}

#nav-2 {
    width: 175px;
    padding-bottom: 5px;
}

#nav-3 {
    width: 250px;
    padding-bottom: 5px;
}

#nav-4 {
    width: 290px;
    padding-bottom: 0px;
}



/* 
Working on getting top navigation being appropriately responsive on phones.
Apple iPhone 13 has viewport size 390 x 844 Pixels 
v12      - 390px × 844px 
v11      - 414px × 896px
v10 (X)  - 375px × 812px

Get some android sizes.
*/

/* PHONE SCREEN DISPLAY */
@media only screen and (min-width: 200px) and (max-width: 970px) {

    /* also put into full-page mobile navigation 
    ul#top-nav-phone.navbar-nav.flex-column {
        align-items: flex-start;
    } */

    #top-nav-phone {
        /* put into full-page mobile navigation */
        /*
        background-color: aqua;
        padding: 5px;
        border-radius: 5px;
        padding-right: 50px;
        margin-left: 5px;
        */
        display: none;
    }

    #top-subTitle-phone {
        padding-left: 40px;
        margin: 0px;
        font-size: 17px;
    }


    /* DO NOT DISPLAY listed below */
    #top-nav-computer,
    #title-computer {
        display: none !important;
    }
}




/* COMPUTER SCREEN DISPLAY */
@media only screen and (min-width: 971px) {

    #top-nav-computer,
    #title-computer {
        /* background-color: orange;*/
    }

    p#top-subTitle-computer {
        padding-bottom: 8px;
        margin: 0px;
    }

    /* DO NOT DISPLAY listed below */
    #top-nav-phone,
    #title-phone {
        display: none !important;
    }
}