#star-one,#star-two,#star-three,#star-four,#star-five{
    margin: 1px;
}

/* not working -need autocomplete and scrollable-dropdown, also requiredness not working because of the pre-selected option*/
.scrollable-dropdown {
    height: auto;
    max-height: 100px;
    overflow-x: hidden;
}



/* these aren't working by nature of the <select> tag currently */
select:invalid{
    outline: 2px solid #fe8498;
}
select:valid{
    background-color: #ffffff;
    outline: none;
}