#pageContainer{
    position: fixed;
    height: 600px;
    background-color: #e3e5ed;
    top: 17%;
    width: 84%;
    margin-left: 245px;
}
.form-content, .table-content{
    padding: 15px;
}

/* PAGE TITLE */
#pageTitle{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    background-color: gainsboro;
    padding: 5px;
    border-radius: 5px;
}

/* CLIENT-SIDE FORM VALIDATION */
input:invalid, textarea:invalid, select:invalid{
    outline: 2px solid #f37e98;
}
input:valid, textarea:valid, select:valid{
    background-color: #ffffff;
    outline: none;
}

/* SUBMIT BUTTON FORMATTING */
button.btn.submit-btn {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
    border-radius: 5px;
}
.submit-btn:hover {
    background-color: #f37e98;
}